* {
  font-family: Arial, Helvetica, sans-serif;
}
ul, li {
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}
body {
  margin: 1% 10vw;
}
input {
  border: none;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}
textarea.liText {
  border: none;
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
  width: 70vw;
}
textarea:focus{
  border-bottom: solid 1px #000000;
}
input[type=checkbox]{
  accent-color: #000000; 
  width: fit-content; 
  margin: auto 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.2s;
}

button {
    background-color: #ffffff;
    border: none;
    font-size: 2em;
    font-weight: bold;
    width: 40px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;
}
li:hover > button{
  opacity: 1;
  transition-delay: 0s;
}
li:hover > input[type=checkbox]{
  opacity: 1;
  transition-delay: 0s;
}
/* input[type=checkbox]:hover button:hover{} */
.tick {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tick::before {
  content: '✓';
  font-size: 0.25em;
  display: none;
}

.done .tick::before {
  display: inline;
}
.done textarea {
  text-decoration: line-through;
}

.liText {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  overflow: hidden;
}
#decoration {
  border-bottom: 1px solid #111;
  padding-top: 1%;
}
input:focus::placeholder {
  color: transparent;
  outline: none;
}
input::placeholder{
  color: #000000;
} 
input:focus, textarea:focus {
  outline: none;
}
img {
  height: 1.25em;
}
/* !Do not change any CSS above unless absolutely necessary (Ask Mochi first to avoid merge conflicts) */
