* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 1% 10vw;
}
input, textarea {
  border: none;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}
.listItem {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  overflow: hidden;
  display: block;
}
li {
  list-style: none;
  ;
}
#decoration {
  border-bottom: 1px solid #111;
  width: 75vw;
  padding-top: 1%;
}
input:focus::placeholder {
  color: transparent;
  outline: none;
}
input::placeholder{
  color: #000000;
} 
input:focus, textarea:focus {
  outline: none;
}
/* !Do not change any CSS above unless absolutely necessary (Ask Mochi first to avoid merge conflicts) */
